$bg: #FFF;
$bg-dark: #222;
$container: #FFF;
$container-dark: #1A1A1C;
$text: #000;
$text-secondary: #888;
$text-dark: #FFF;
$ico: #666;
$ico-active: #FFF;
$ico-dark-active: #000;
$btn: #D9D9D9;
$btn-hover: #AFAFAF;
$btn-dark: #101010;
$btn-dark-hover: #0e0e0e;
