* {
	margin: 0%;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {

		transition: all 100ms ease-in-out;
		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 7rem);
	margin: 1rem;
	width: calc(100vw - 10rem);
}

.container {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 4px 10px 1px #0000001e;
	display: flex;
	flex-direction: column;
}

input {
	border: none;
	outline: none;
	background-color: transparent;
}

main {
	display: flex;
	height: 100%;
}