@import './base/reset';

.task-groups-wrapper {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 7rem);
	padding: 1rem;
	width: calc(100vw - 10rem);
	overflow-y: scroll;
}

.task-group-container {
	.title {
		color: white;
		border-radius: 10px 10px 0 0;
		padding: 0.7rem;
		width: fit-content;
		box-shadow: 0px -2px 10px 1px #00000063;
	}
	.tasks {
		box-shadow: 0px 4px 10px 1px #00000063;
		border-radius: 0px 10px 10px 10px;
	}
}