.tasks {
	background-color: white;
	border-radius: 0 10px 10px 10px;
	box-shadow: 0px 4px 10px 1px #0000001e;
	display: flex;
	flex-direction: column;
	div {
		display: flex;
		justify-content: space-between;
	}
	.left {
		display: flex;
		align-items: center;			
		.square {
			margin: 1rem;
			width: 1rem;
			height: 1rem;
		}
	}
	.right {
		margin-right: 1rem;
		display: flex;
		align-items: center;
		.completion-rate {
			margin: 1rem;
		}
	}
}