@import './base/reset';

@media only screen and (min-width: 600px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		.task-group-container {
			margin: 1rem;
		}
	}
}

.task {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	.left {
		display: flex;
		align-items: center;			
		.square {
			margin: 1rem;
			width: 1rem;
			height: 1rem;
		}
	}
	.right {
		margin-right: 1rem;
		display: flex;
		align-items: center;
		.completion-rate {
			margin: 1rem;
		}
	}
}
